.layout-header {
  border-bottom: 1px solid #ccc;
}

.layout-header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 0;
}

.layout-header ul a {
  text-decoration: none;
  color: black;
}

.layout-header ul a:hover {
  color: #05675f;
  text-decoration: underline;
}

.profile-container button {
  background-color: #05675f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
